[submodule ".vim/bundle/coquille"]
	path = .vim/bundle/coquille
	url = https://github.com/liby99/coquille.git
[submodule ".vim/bundle/vimbufsync"]
	path = .vim/bundle/vimbufsync
	url = https://github.com/let-def/vimbufsync
