[submodule ".vim/bundle/coquille"]
	path = .vim/bundle/coquille
	url = https://github.com/liby99/coquille.git
[submodule ".vim/bundle/vimbufsync"]
	path = .vim/bundle/vimbufsync
	url = https://github.com/let-def/vimbufsync
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
